.comments ul {
    list-style: none;
    padding: 0;
}

.comment-list ul li {
    list-style: none;
    padding-left: 60px;
}

.title-comments,
.title-comments-off {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.title-comments-off {
    color: #c5c5c5;
    border-bottom: none;
}

.media-left img {
    width: 50px;
}

.media-body .author {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}

.media-body .metadata {
    display: block;
    font-size: 1.2rem;
}

.media-body .link {
    float: right;
    font-size: 1.2rem;
}

.media-body .link a {
    text-decoration: none;
}

.reply-form-container form {
    padding-top: 20px;
}

.field-comment-verifycode input {
    width: 120px;
}