.publish {
    color: green;
}

.draft {
    color: red;
}

/*Breadcrumb*/
ul.breadcrumb li a {
    text-decoration: none;
}

.header {
    padding-bottom: 20px;
}

.header h2 a,
.tag-cloud a,
.tag-cloud .panel-body a,
.header a,
.footer a,
.footer .info a {
    text-decoration: none;
}

.info {
    font-size: 10pt;
    color: #333;
}

.content-container .footer {
    padding-top: 10px;
}