.comment-list .item {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
}

.comment-list .item .item-comment {
    border: 1px solid #c5c5c5;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px 0 5px 0;
}

.comment-list .item-avatar img {
    width: 50px;
    margin: 0 5px 5px 0;
}

.comment-list .item-blank {
    padding: 10px;
    color: #c5c5c5;
}

.label {
    margin-left: 2px;
}
